@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.modal-content {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    color: #333;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wpli {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
}

.wpicon {
    margin-right: 8px;
}